@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFF4F1;
  color: #1A1A1A;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
